@use '../custom' as *;
@use '../components/mixins' as *;

.btn-primary {
  @include gradient;
  margin: 0;
  color: $white;
  font-weight: 500;
  position: relative;
  border: 0.1rem solid rgba($white, 0.6);
  padding: 0.537rem 2.75rem 0.537rem 1.25rem;
}

.btn-freecodecamp {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  margin: 0;
  color: $white;
  font-weight: 500;
  position: relative;
  border: 0.1rem solid rgba($white, 0.6);
  padding: 0.537rem 2.75rem 0.537rem 1.25rem;
  background-color: $gray-90;
  span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    i {
      font-size: 1rem;
      line-height: 2.2rem;
    }
  }
  &:hover {
    box-shadow: 0 0 5px rgba($purple, 1) inset;
    span {
      color: $yellow;
      -ms-animation: bounce 0.5s infinite linear;
      -moz-animation: bounce 0.5s infinite linear;
      -o-animation: bounce 0.5s infinite linear;
      -webkit-animation: bounce 0.5s infinite linear;
      animation: bounce 0.5s infinite linear;
    }
  }
}

.btn-email {
  span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    i {
      font-size: 1rem;
      line-height: 2.2rem;
    }
  }
  &:hover {
    box-shadow: 0 0 5px rgba($white-flat-hover-web, 1) inset;
    span {
      color: $yellow;
      -ms-animation: bounce 0.5s infinite linear;
      -moz-animation: bounce 0.5s infinite linear;
      -o-animation: bounce 0.5s infinite linear;
      -webkit-animation: bounce 0.5s infinite linear;
      animation: bounce 0.5s infinite linear;
    }
  }
  &:hover .fa-envelope:before {
    content: '\f2b6';
  }
}
@-webkit-keyframes bounce {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
  70% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
  70% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}
@-o-keyframes bounce {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
  70% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
  70% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}
@keyframes bounce {
  0% {
    top: 50%;
  }
  50% {
    top: 45%;
  }
  70% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}
